{% extends 'main/base.html' %}

{% load static %}

{% block title %}Первый урок{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
<br>
<center><h1>Приветствуем на 1 уроке по языку программирования Python!</h1></center>
<br>
    <div class="back"><a href="/">< Назад</a></div>
<div class="logo">
        <a href="/">
            <img src="{% static 'img/icon.png' %}" alt="IТС">
        </a>
    </div>
<div class="text">
    <p>Сегодня мы вам расскажем, как вывести сообщение в консоль, как создавать и работать с переменными,
        а также расскажем про базовые арифметические операции и как их реализовать в коде. Приступим!</p>

    <p>Начнём с вывода сообщения в консоль. Среди программистов распространена традиция начинать свой путь
с вывода сообщения "Hello World!". Это можно осуществить при помощи функции "print()". Почему после
названия команды стоят скобочки? Эти скобки нужны для того, чтобы компьютер понимал, что именно ему выводить.
Именно внутрь этих скобок вы должны вывести своё сообщение. Но если просто скопировать нужное сообщение внутрь
скобок, то появится ошибка. Дело в том, что функция "print" может выводить не только обычный текст, но и
содержимое различных переменных. При таком написании компьютер считает, что текст внутри скобок это переменнная,
он её ищет, а найти не может. Чтобы это исправить окружите с двух сторон ваш текст кавычками. Можно либо одинарными,
        либо двойными, главное чтобы они были одинаковыми. Попробуйте, должно получиться следующее:</p>
<br>
<py-repl>
	print("Hello world!")
</py-repl>
<br>
    <p>А теперь запустите свой код. Если у вас всё получилось, поздравляю! Если нет, то удалите то, что написали, и
попытайтесь написать всё по инструкции заного.</p>

Пока-что можете удалить ваш код.

    <p>Как я упомянул ранее, функция "print" может выводить на экран не только текст, но и запрятанные в переменные данные.
Я расскажу вам о переменных. Переменные - небольшие ячейки в памяти, куда вы можете записывать различные данные. Когда вы
создаёте переменные, вы выделяете немного места в памяти вашего компьютера. Представьте что у вас есть куча пустых коробок,
и вы берёте и открываете одну из них и что-то туда суёте, это и есть создание переменных. Что-бы её создать, вам нужно
дать ей имя, что-бы компуктер мог найти эту переменную и как либо с ней взаимодействовать. Есть определённые правила, как
называть переменные. Вы же не назовёте своего сына Аубвевеве Аувевевеве Аумубен Осас? Да? Ну допустим. Так-же и с переменными,
их надо называть правильно, иначе компьютер может запутаться и не понять вас. В имени переменной не должно быть пробелов, нельзя
назвать её как-то так "Hello my master". Если вы хотите назвать переменную несколькими словами, вставляйте между словами нижнее
подчёркивание. Старайтесь называть переменные понятно, не a, b, c. Будет лучше, если имена переменных будут описывать их содержимое.
Например переменную, которая будет хранить числа, лучше назвать "Number", или как-то иначе, но что-бы было понятно её содержимое.
После того, как вы назвали переменную, нужно указать знак присваивания, в Python это знак "=". После знака "=" вы должны присвоить
        значение вашей переменной, это может быть число, текст или другая переменная. У переменных есть 4 основных типа:</p>
<br>
<div class="info">
1)Int - тип, означающий целочисленное число. В переменной записано число, у которого нет знаков после запятой.</center>
<br>
2)Float - В этом типе переменных содержутся десятичные дроби.
<br>
3)Str - тип, в котором хранится текст
<br>
4)Boolean - тип, имеющий только два значения True или False: правда или ложь
</div>
<br>
	<p>Указывать тип переменной не обязательно, но лучше всегда его указывать. У каждого типа есть своё применение, один тип может не
        подходить к  вашей задаче, таким образом будет выдаваться ошибка. Вы не можете применять математические операции к типам Str и Boolean.</p>

	<p>Когда вы создаёте переменную и даёте ей значение, не указав тип, то Python попытается самостоятельно понять тип переменной,
опираясь на ваш синтаксис. Если значение переменной указано в кавычках, то это Str, если оно True или False то это тип Boolean,
если это число без кавычек и без плавующей точки, то это тип Int, а если это дробь, то это Float. Если переменная вам необходима для
конкретных целей, лучше указать ей тип при создании, некоторые функции могут требовать подтверждение типа переменной, если вы так
        не сделали. Когда вы указываете тип переменной, её значение нужно вставить в круглые скобочки, а тип указать перед ними.</p>
<br>
<center>И так, вы присваиваете значение переменной. Ваш новый код будет выглядеть примерно так:</center>
<py-repl>
Hello = "Hello"
</py-repl>
	<center>или</center>
<py-repl>
Hello = str("Hello")
</py-repl>
<br>
	<p>Очень важно понимать, что у разных типов могут быть похожии значения, но в определённых случаях одна переменная сделает
ошибку, а другая нет. Значения переменных 3 и "3" совершенно разные, ведь 3 это Int, то есть число, а "3" это тип Str, то есть
        строка. Значения 4 и 4.0 тоже разные, 4 это Int, а 4.0 это тип Float.</p>

	<p>Теперь поговорим о математических операциях, пока что об 4 основных: Сложение, Вычитание, Умножение и Деление. Все эти
операции будут работать только с числовыми типами, пока что вы их знаете только 2, это Int и Float. С типом Float разберёмся на
другом уроке, разберём тип Int. Создайте 2 переменные типа Int, а потом создайте 3 переменную и задайте ей значение в виде
арифметической операции, а после выведете число в консоль с помощью print. Должно получиться примерно так:</p>
<br>
<py-repl>
Number = 4
Chislo = 5
Otvet = Number + Chislo
print(Otvet)
</py-repl>
<br>
	<p>Переменной Otvet будет присвоено значение, равное сумме переменных Number и Chislo. Тоже самое произойдёт и при других
оперпациях, но есть несколько ньюансов. Вы должны соблюдать правила математики при выполнении этих операций, не делите на ноль
и подобное, иначе выскачет ошибка. Попробуйте провернуть другие математические операции самостоятельно, изменив знак. Заметьте,
что переменная Otvet при делении в этом случае не получит тот же тип, что и другие. В ответе получится не целое число, и поэтому
ей будет присвоен тип Float. Заметьте, что если вы вставите print до того, как создадите переменные, у вас выведется ошибка.
        Помните, что код выполняется линейно, сверху вниз. Получится так, что он пытется найти переменную, которая пока что не существует</p>

	<p>Давайте попробуем немного сократить наш код. Вместо строчки, где вы присваиваете Otvet сумму переменных, напишите
        следующее:</p>

print(Number + Chislo)

	<p>Вывод получится тем-же самым, но не стоит так делать всегда, ведь кое-что кроме сокращения кода тоже произошло. Теперь
вы не записываете ответ куда-либо, вы лишь выводите ответ в консоль, после этого он забывается. Когда вы будете работать с большими
        формулами, всегда записывайте вывод с этих формул, иначе рискуете повторять их при каждом случае, когда вам понадобится ответ.</p>

	<p>Спасибо за внимание, если вы чего-то непоняли или у вас что-то не получилось, вернитесь к той теме, которую непоняли, и
        перечитайте пункт, попробуйте действовать строго по инструкции.</p>

	<p>Не забывайте, вы всегда можете задать вопрос в поисковике или на форумах, не стесняйтесь спрашивать, это нормально.
Все программисты очень активно общаются друг с другом и обмениваются информацией, а если вы новичёк то к вам особое отношение.
На момент написания урока, все профессии, связанные с программированием очень востребованы. Старайтесь научиться тому, что приведёт
вас к успешному будущему. Надеюсь ещё увидимся, пока!</p>
<br>

<py-repl>
    #Повтори все изученное в этом уроке здесь
</py-repl>
        </div>
<br><br><br>
<style>
.back {
            position: absolute;
            right: 5%;
            top: 4%;
        }
        .back a{
            text-decoration: none;
            font-size: 27px;
            color: blue;
        }
h1{
font-size: 30px;
    line-height: 40px;}
    .text {
    margin-left: 13px;
    margin-right: 13px;
    font-size: 15px;
    line-height: 40px;}
}
.info {
left: 10%;
}
    p {text-align:justify; text-indent:30px;
    }
    .logo img {
        position: absolute;
        left: 3%;
        top: 2%;
        width: 12%;
    }
</style>
{% else %}
<script>
    window.location.href = '/';
</script>
{% endif %}
{% endblock %}